<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Forme</title>
    <style>
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
        .navbar{
            width: 100vw;
            height: 2.5em;
            background-color:#1f1f1f;
            color: white;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            font-size:1.5em;
        }
        .link{
            text-decoration: none;
            color: rgb(233, 233, 233);
        }
    </style>
</head>
<body>
    <div class="navbar">
        <h2><a class="link" href="/">Home Page</a></h2>
        <h2><a class="link" href="/v1/newuser">Creating New User</a></h2>
    </div>
    <h1>Fill the fourm for new user</h1>
    <form action="<%= locals.url %> " method="POST">
        <label for="Name">Name : </label>
        <input type="text" name="Name" value="<%= locals.n %> ">
        
        <label for="College">College : </label>
        <input type="text" name="College" value="<%= locals.c %> ">
        
        <label for="Branch">Branch : </label>
        <input type="text" name="Branch" value="<%= locals.b %> ">

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>